* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  padding: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.4px;
  font-size: 0.8rem;
  min-height: 100vh;
}

ul {
  padding: 0;
}

li {
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

strong {
  color: #00695c;
}

a:link {
  color: #00695c;
}

a:visited {
  color: #0099cc;
}

.objective {
  font-weight: 500;
}

.duration {
  margin-top: 3px;
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: normal;
  text-transform: none;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list__item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
}

.list__item--highlight {
  border-color: #00695c;
}

.work header {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.work__title {
  font-size: 0.9rem;
  color: #00695c;
}

.work .duration {
  margin-left: 10px;
}

.work__description {
  margin-bottom: 6px;
}

.work:not(:last-child) {
  margin-bottom: 21px;
}

#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

#main-header p {
  margin: 0;
}

#heading {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 500;
}

#role {
  font-size: 1.1rem;
  font-weight: normal;
  font-family: monospace;
}

#social a {
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#social a:not(:last-child) {
  margin-right: 10px;
}

#social a:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#social a:active {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

#social img {
  cursor: pointer;
  width: 1.7rem;
  display: block;
}

.subheading {
  margin-left: 3px;
  font-weight: normal;
}

.heading,
.sub-heading {
  text-transform: capitalize;
}

.company {
  font-weight: 500;
}

main {
  padding-bottom: 3rem;
}

article {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.sub-heading {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

ul {
  padding-left: 20px;
}

.contact__info p:not(:last-child) {
  margin-bottom: 10px;
}

.fas {
  width: 18px;
  margin-right: 5px;
}

.email {
  text-decoration: none;
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.personal-projects__heading {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.personal-projects:not(:last-child) {
  margin-bottom: 17px;
}

#projects > div p {
  display: inline-block;
}

a.disabled {
  pointer-events: none;
  color: #00695c;
  margin-right: 5px;
}

a.disabled i {
  display: none;
}

#education p {
  margin-top: 4px;
}

.education__title {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.education__year {
  display: inline-block;
  width: 80px;
}

table {
  width: 100%;
}

td {
  padding: 0 10px 10px 0;
}

@media screen and (min-width: 900px) {
  article {
    margin: 0;
  }
  main {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "career contact" "experience technologies" "education projects " "achievements hobbies";
  }
  #experience {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: experience;
  }
  #career {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: career;
  }
  #contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact;
  }
  #projects {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  #technologies {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: technologies;
  }
  #education {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: education;
  }
  #achievements {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: achievements;
  }
  #hobbies {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: hobbies;
  }
  /* html {
    padding: 20px 0 10px 20px;
  } */
  body {
    width: 70%;
    margin: 2rem auto;
  }
}

@media print {
  article {
    margin: 0;
  }
  main {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "career contact" "experience technologies" "education projects " "achievements hobbies";
  }
  #experience {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: experience;
  }
  #career {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: career;
  }
  #contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact;
  }
  #projects {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  #technologies {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: technologies;
  }
  #education {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: education;
  }
  #achievements {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: achievements;
  }
  #hobbies {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: hobbies;
  }
  html {
    padding: 10px 20px 0;
    font-size: 78%;
  }
  body {
    width: 100%;
    padding: 3rem 1rem 0;
    font-family: sans-serif;
  }
  header {
    margin-bottom: 10px;
  }
  main {
    grid-gap: 5px;
    padding-bottom: 0;
  }
}
