@import "../_reset.scss";

html {
  padding: 10px;
}

body {
  //border: 1px solid;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.4px;
  font-size: 0.8rem;
}

p,
li {
  margin: 0;
  margin-bottom: 10px;
}

strong {
  color: #00695c;
}

a:link {
  color: #00695c;
}
a:visited {
  color: #0099cc;
}

//Header
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.heading {
  font-size: 2rem;
  letter-spacing: 2px;
}

.subheading {
  margin-left: 3px;
  font-weight: normal;
}

.title,
.heading {
  text-transform: capitalize;
}

//Main

article {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.title {
  margin-bottom: 15px;
}

.subTitle {
  font-size: 0.9rem;
}

ul {
  padding-left: 40px;
}

//Contact
.fas {
  width: 18px;
  margin-right: 5px;
}

.email {
  text-decoration: none;
}

//Projects
.projectLink {
  text-decoration: none;
}
.projectLink:hover {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  color: rgba($color: #00695c, $alpha: 0.7);
}

//Technologies
.listTiles {
  list-style-type: none;
  padding-left: 0;
  > li {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    margin-right: 10px;
  }
  .highlight {
    border-color: #00695c;
  }
}

//Education
#education p {
  margin-top: 4px;
}

.educationYear {
  display: inline-block;
  width: 80px;
}

//Achievements
table {
  width: 100%;
}

td {
  padding: 0 10px 10px 0;
}

@mixin create-grid {
  article {
    margin: 0;
  }

  main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "career contact"
      "projects technologies"
      "education hobbies"
      "achievements achievements";
  }

  #career {
    grid-area: career;
  }

  #contact {
    grid-area: contact;
  }

  #projects {
    grid-area: projects;
  }

  #technologies {
    grid-area: technologies;
  }

  #achievements {
    grid-area: achievements;
  }

  #hobbies {
    grid-area: hobbies;
  }
}

@media screen and (min-width: 900px) {
  @include create-grid;

  html {
    padding: 20px 0 10px 20px;
  }

  body {
    width: 70%;
  }
}

@media print {
  @include create-grid;

  html {
    padding: 10px 20px 0;
  }

  body {
    width: 100%;
  }

  header {
    margin-bottom: 10px;
  }

  main {
    grid-gap: 5px;
  }
}

//Experiment
