* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

p {
  line-height: 1.5;
}

html {
  padding: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.4px;
  font-size: 0.8rem;
}

p,
li {
  margin: 0;
  margin-bottom: 10px;
}

strong {
  color: #00695c;
}

a:link {
  color: #00695c;
}

a:visited {
  color: #0099cc;
}

.time {
  margin-top: 3px;
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: normal;
  text-transform: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

header p {
  margin: 0;
}

.heading {
  font-size: 2rem;
  letter-spacing: 2px;
}

.role {
  font-size: 1.1rem;
  font-weight: normal;
  font-family: monospace;
}

.social a {
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.social a:not(:last-child) {
  margin-right: 10px;
}

.social a:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.social a:active {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.social img {
  cursor: pointer;
  width: 1.7rem;
  display: block;
  /* border: 3px solid #00695c;
    border-radius: 50%;
    display: inline-block;
    box-sizing: content-box; */
}

.subheading {
  margin-left: 3px;
  font-weight: normal;
}

.title,
.heading {
  text-transform: capitalize;
}

.company {
  font-weight: 500;
}

main {
  padding-bottom: 3rem;
}

article {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.title {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.subTitle {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

ul {
  padding-left: 20px;
}

.fas {
  width: 18px;
  margin-right: 5px;
}

.email {
  text-decoration: none;
}

.projectLink {
  text-decoration: none;
}

.projectLink:hover {
  text-decoration: underline;
}

#projects p {
  font-weight: 500;
}

#projects > div p {
  display: inline-block;
}

a.disabled {
  pointer-events: none;
  color: #00695c;
  margin-right: 5px;
}

a.disabled i {
  display: none;
}

.listTiles {
  list-style-type: none;
  padding-left: 0;
}

.listTiles > li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
}

.listTiles .highlight {
  border-color: #00695c;
}

#education p {
  margin-top: 4px;
}

.educationYear {
  display: inline-block;
  width: 80px;
}

table {
  width: 100%;
}

td {
  padding: 0 10px 10px 0;
}

@media screen and (min-width: 900px) {
  article {
    margin: 0;
  }
  main {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "career contact" "internship technologies" "education projects " "achievements hobbies";
  }
  #internship {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: internship;
  }
  #career {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: career;
  }
  #contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact;
  }
  #projects {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  #technologies {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: technologies;
  }
  #education {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: education;
  }
  #achievements {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: achievements;
  }
  #hobbies {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: hobbies;
  }
  /* html {
    padding: 20px 0 10px 20px;
  } */
  body {
    width: 70%;
    margin: 2rem auto;
  }
}

@media print {
  article {
    margin: 0;
  }
  main {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "career contact" "internship technologies" "education projects " "achievements hobbies";
  }
  #internship {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: internship;
  }
  #career {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: career;
  }
  #contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact;
  }
  #projects {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  #technologies {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: technologies;
  }
  #education {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: education;
  }
  #achievements {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: achievements;
  }
  #hobbies {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: hobbies;
  }
  html {
    padding: 10px 20px 0;
    font-size: 78%;
  }
  body {
    width: 100%;
    padding: 3rem 1rem 0;
    font-family: sans-serif;
  }
  header {
    margin-bottom: 10px;
  }
  main {
    grid-gap: 5px;
    padding-bottom: 0;
  }
}
